a2ln/
abaddon/
balena-etcher/
balena-etcher-electron/
blender/
blesh/
bloop/
BraveSoftware/
btop/
calcurse/
cef_user_data/
coc/
colour.dircolours
config.h
cura/
dconf/
deluge/
discordo/
dolphin-emu/
dunst/
dwm
dwm.o
FreeCAD/
fzf/
GIMP/
gtk-2.0/
gtk-3.0/
htop/
JetBrains/
jgit/
keepassxc/
kitty/
latex/
lazygit/
lazy-lock.json
libfm/
libreoffice/
lutris/
matplotlib/
menus/
mimeapps.list
nnn/
NuGet/
nvimOld/
pcmanfm/
picom/
procps/
PrusaSlicer/
pulse/
pulseaudio-ctl/
qBittorrent/
QtProject.conf
retroarch/
speki/
spotify-tui/
starship.toml
systemd/
TabNine/
thefuck/
torbrowser/
user-dirs.dirs
user-dirs.locale
version.h
vlc/
yarn/
yay/
zathura/
Zettlr/
