BraveSoftware/
JetBrains/
QtProject.conf
TabNine/
abaddon/
balena-etcher-electron/
blesh/
bloop/
btop/
calcurse/
coc/
colour.dircolours
dconf/
discordo/
dunst/
version.h
config.h
dwm
dwm.o
fzf/
gtk-3.0/
htop/
jgit/
keepassxc/
kitty/
latex/
lazygit/
libreoffice/
matplotlib/
mimeapps.list
nnn/
NuGet/
lazy-lock.json
picom/
procps/
pulse/
pulseaudio-ctl/
qBittorrent/
speki/
spotify-tui/
starship.toml
systemd/
thefuck/
torbrowser/
vlc/
yarn/
yay/
zathura/
